<md-input-container>
    <label>{{$ctrl.selectLabel}}</label>

    <md-select ng-model="$ctrl.selectId"
               name="{{$ctrl.selectFormId}}"
               md-on-close="clearSearchTerm()"
               md-theme="default"
               data-md-container-class="selectdemoSelectHeader"
               required>

        <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="חפש תחנה.."
                   class="demo-header-searchbox"
                   force-select-focus>
        </md-select-header>

        <md-optgroup label="stations">
            <md-option ng-repeat="station in $ctrl.stationList | filter:searchTerm | orderBy:$ctrl.orderProp"
                       value="{{station.Id}}">
                {{station.Heb[0]}}
            </md-option>
        </md-optgroup>
    </md-select>
</md-input-container>

