<div class="route-form">
  <md-content layout-padding layout="row" layout-xs="column">
    <md-progress-circular ng-show="$ctrl.showSpinner"
      md-mode="indeterminate" class="md-accent"></md-progress-circular>

    <station-list station-list="$ctrl.stations"
      select-id="$ctrl.origin"
      select-label="$ctrl.originLabel"></station-list>

    <station-list station-list="$ctrl.stations"
      select-id="$ctrl.destination"
      select-label="$ctrl.destinationLabel"></station-list>

    <md-input-container>
      <label>תאריך</label>

      <md-datepicker ng-model="$ctrl.myDate" name="dateField"
        md-min-date="ctrl.minDate"
        md-max-date="ctrl.maxDate"
        md-open-on-focus></md-datepicker>
    </md-input-container>

    <md-input-container>
        <md-button class="md-raised md-primary" aria-label="Search Route"
                   ng-click="$ctrl.searchTimesHandler()">חפש מסלול</md-button>
    </md-input-container>
  </md-content>
</div>