.md-datepicker-button {
    display: none !important;
}

.md-datepicker-input-container {
    margin-left: 0 !important;
}

/* Make select show 16 options instead of 5 */
md-select-menu {
    max-height: 80vh !important; }

    md-select-menu md-content {
    max-height: 80vh !important; }
