<form>

  <h1>מוצא:</h1>

  <station-list station-list="$ctrl.stations" select-id="$ctrl.origin"></station-list>

  <h1>יעד:</h1>

  <station-list station-list="$ctrl.stations" select-id="$ctrl.destination"></station-list>

  <button ng-click="$ctrl.nowClickHandler()">הצג שעות להיום</button>
  <button ng-click="$ctrl.otherTimeHandler()">תאריך אחר</button>

  <div id="datediv" class="hidden">
    <h1>תאריך יציאה:</h1>
    <input ng-model="$ctrl.datePickerInput" ng-init="$ctrl.initializeDatepicker()" type="text" name="date" id="datepick" readonly>
    <button ng-click="$ctrl.searchTimesHandler()">הצג זמנים</button>
  </div>
</form>