/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* Non-seed CSS: */
html {
  direction: rtl;
}

body {
    background-color: #9bb;
    color: #203030;
    text-align: center;
}

/* Make sure the date picker and the calender pane it opens
 is ltr unlike the rest of the app */
md-input-container, div.md-datepicker-calendar-pane {
  direction: ltr;
}

md-content.route-form {
  margin: 0 auto;
  padding: 1px;
  width: 70%;
  height: 90%;
}

