html {
    text-direction: rtl;
    direction: rtl;
}

body
{
    background-color: #203030;
    color: #9bb;
    font-family: arial;
    text-align: center;
    font-size: 3em;
}

select, input {
    font-size: 1em;
    margin-bottom: 1em;
    height: 3em;
}

button {
    margin: 1em auto !important;

    display: block !important;
}

#ui-datepicker-div {
    text-direction: ltr;
    direction: ltr;
}

h1
{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

div.hidden
{
    display: none;
}

div.shown
{
    display: block;
}