md-list-item.md-3-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.md-subheader {
    padding-bottom: 10px;
}

md-toast.md-failure-toast-theme {  }
    md-toast div.md-toast-content {
        background-color: red; }

